*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
	height: 100%;
	max-width:100%;
}
body{
	font-family: Verdana, Geneva, sans-serif;
	position: relative;
	background:  #305496;
	max-width:100%;
	height: 100%
}
/* NAVBAR Style*/
nav a{
	color: black!important;
	font-size: 0.9rem;
	font-weight: bold;
	margin-bottom: -0.8rem!important;
}
ul li a{
  cursor: pointer;
  transition: color .2s ease-in-out;
}

li a:hover {
  color: blue!important;
}
li a.active{
	color: blue!important;
}
.container-fluid{
    margin:0!important;
    padding:0!important;
    position:relative;
    min-height:90%;
}
.container{
    position:relative;
    min-height:90%;
    padding:0;
    min-width:100%;
}
.card{
	min-width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	background: #305496;
}
.card-header .float-left a{
	padding:0 0.3rem;
	text-decoration: none;
	color: black;
}
.card-body{
	padding: 0!important;
	height: auto !important;
	min-width:100%;
	margin: 0!important;
}

.table{
    min-width:100%;
}

/**FORM Styles **/
form .form-group{
	font-size: 0.9rem;
}
form .form-group input, form .form-group select{
	font-size: 0.8rem;
}
form .form-group label{
	text-align: left;
}
label{
	display: block!important;
	clear: both!important;
}
label.error{
	color: red;
}
::placeholder, select { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray!important;
  opacity: 1; /* Firefox */
}

.icon_div{
	position: relative;
}
.icon_span{
	position: absolute;
	left:10px;
}
button .icon_span{
	position: absolute;
	left:1.2rem;
}
.card .card-body table tbody a:hover{
	text-decoration: none;
}

/** Table style**/ 
.table-responsive table {
	max-width: 110rem;
	float: left;
	font-size: 0.8rem;
	line-height: 0.8rem;
	color: black!important;
	background-color: white;
}
.table-responsive table tbody tr td {
	vertical-align: middle!important;
	padding: 0.1rem;
}


/** Table style end **/

/** Checkbox div **/ 
.radio_div{
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.radio_div div{
	display: inline-block;
	background-color: #D7D7D7;
	cursor: pointer;
	color: black;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: 0.5s background-color;
}
.radio_div input{
	opacity: 0;
	float: right;
}
.radio_div input:checked ~ div {
  background-color: #24BC62;
  color: white;
}
.radio_div i {
  display: none;
  position: absolute;
  left:1.5rem;
}
.radio_div input:checked ~ i {
  display: inline-block;
}

/** Pagination style **/
 .card-body .d-flex{
 	margin-top: 1rem;
 }
.pagination li a{
 	transition: 1s background-color, color;
 	font-size: 0.8rem;
 	font-weight: bold;
 	padding: 0.2rem;
 	color: #1A73E8!important;
 } 
 a.page-link.active{
 	color: red!important;
 }
 .pagination li a:hover{
 	color:white!important;
 	background-color:rgba(40,92,155,1)!important;
 } 

@media screen and (min-width: 1100px) {
 .card-body .d-flex{
 	position: absolute;;
 	top: 40rem;
 	left: 50%;
 	margin-left: -10rem;
 } }

 /** Search by <th> style **/
th.selectable_th{
	cursor: pointer;
	user-select: none;
}
td.dataTables_empty{
	font-weight: bold;
	color: red;
}
@media screen and (max-width: 995px) {
 nav li {
 	text-transform: uppercase;
 	margin:0 auto;
 	display: block;
 } 
 nav a.logout{
 	text-align: center;
 	text-transform: uppercase;
 	 }
li.active:after{
	width: 100%;
	background-color: blue;
}
table tr{
	font-size:0.6rem;
	font-weight: bold;
}
#klade{
    margin-bottom:5rem;
}
}

/* Footer style */
#footer{
    height:4rem;
    position:relative;
    bottom:0;
    color:gray;
    font-weight:bold;
    padding-top:0.5rem;
    width:100%;
    background-color:white;
}

/* Kontaktperson show more/less */
span.showMore{
	cursor:pointer; 
	user-select: none;
}
span.hidden{
	display: none;
}
span.showMore:after{
	content: ' +';
	font-weight:bolder;
	color:blue;
}
span.showMore.minus:after{
	content: ' -';
	font-weight:bolder;
	color:blue;
}

/* Loader style*/
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  margin: 0 auto;
  height: 46px;
  border-radius: 50%;
  border: 5px solid gray;
  border-color: gray transparent gray transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}