/* 
Author Name: Julian Costinea
Author Email: julian.costinea@gmail.com
Version: 1.0
*/
html{
	font-size:14px;
}
body{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color:#333333;
	line-height: 1.42857143;
	background-color: #DCDCDC;
	overflow-x:hidden;
	height: 100%;
}

#top {

background: #555555;
padding: 10px 0;

}

#top .offer {
color: #fff;
}

#top .offer .btn {

text-transform: uppercase;

}

@media (max-width: 991px) {

#top .offer {
margin-bottom: 10px;
}

}

@media (max-width: 991px) {

#top {
font-size: 12px;
text-align: center;
}

}

#top a {

color: #fff;

}

#top ul.menu {

padding-top: 5px;

margin: 0;
text-align: right;
font-size: 12px;
list-style: none;

}

@media (max-width: 991px) {

#top ul.menu {
text-align: center;
}

}

#top ul.menu > li {

display: inline-block;

}

#top ul.menu > li a {

color: #eeeeee;

}

#top ul.menu > li + li:before {
content: "|\00a0"; 
padding: 0 5px;
color: #f7f7f7;

}
.fas.fa-bars{
	color:white;
}
.navbar .navbar-nav>li>a{
	border:2px solid #993F6C;
	transition: 0.4s;
	text-align: center;
	font-size: 0.85rem;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 0.1rem;
	text-transform: uppercase;
	border-radius: 3px;
	transition: border-bottom 0.3s linear;

}
.navbar-dark .navbar-nav .nav-link{
	color:white;
}
.navbar .collapse .navbar-nav>li>a.active{
	color:#343A40;
	background-color: white;
}
.navbar .collapse .navbar-nav>li>a:hover{
	color:#343A40;
	background-color: white;
	border:2px solid pink;
}
.navbar{
	margin-bottom: 1.3em;
}
/* Carousel */
.carousel-item img {
  width: 100%;
  height: 35.18em;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 10%;
  height: 4px;
  border-radius: 10px;
  border: 1px solid grey;
 }

ol.carousel-indicators li.active {
  background: pink;
}

.jumbotron{
	height:30em;
	text-align: center;
	color:white;
	background-image: url("../admin_area/slides_images/1.jpg");
	background-color: #cccccc;
}
.jumbotron h2{
	padding-top: 3em;
}

/*Advantages */
#advantages{
	margin:1em 0.8em;
}

#advantages .container .equal .advantage{
	background:#fff;
	box-sizing: border-box;
	height:10rem;
	text-align: center;
	text-transform: none;
	padding:0.5em;
	border-radius: 0.4em;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	margin-bottom: 1em;
}
#advantages .container .equal .advantage .icon{
	position:absolute;
	font-size:120px;
	width:100%;
	text-align: center;
	top:-20px;
	left:0;
	height:100%;
	float:left;
	color:#eeeeee;
	transition: all 0.2s ease-out;
	z-index:1;
	box-sizing: border-box;
}
#advantages .container .equal .advantage h3{
	margin-top:10px;
	color: pink;
	text-transform:uppercase;
	}
#advantages .container .equal .advantage p, 
#advantages .container .equal .advantage h3{
	position: relative;
	z-index: 2;
	}

.box{
	background:#fff;
	box-sizing: border-box;
	height:auto;
	color:#993F6C;
	text-align: center;
	border:0.5px outset pink;
	border-right:#DCDCDC;
	padding:0.5em;
	border-radius: 0.4rem;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	margin-bottom: 1.5em;
}

#hot .box h1{
	margin-top:0.1em;
}

/* Content */
.product{
	background:#fff;
	border: solid 1px #e6e6e6;
	box-sizing: border-box;
	margin-bottom:2rem;
	box-shadow: 1px 1px 5px grey;
}
 p.price{
	text-align:center;
	font-size: 1.2rem;
	font-weight: 600;
	color:#993F6C;
}

#content .product .text .buttons{
	clear: both;
	text-align: center;
}
.product .text h4, .product .text h3{
	margin-top: 0.2rem;
	text-align: center;
	text-shadow: 1px 1px grey;
}
.product .text h4 a, .product .text h3 a{
	text-decoration: none;
	color:pink;
}

.product .text .btn-primary{
	margin:0 auto;
}
.btn-danger, .btn-light{
	color: pink;
	font-weight: 500;
	text-shadow: 1px 1px grey;
}


/* Sidebar Menu*/
.card {
	border:2px solid #993F6C;
	box-sizing: border-box;
	box-shadow: 1px 1px 5px grey;
}
.nav-pills .nav-item .active{
	background-color: #993F6C;
}
.nav-pills .nav-item{
	font-weight:600;
	text-transform: uppercase;
	font-size: 1.1rem;
}
.nav-pills .nav-item a{
	color:#993F6C;
	transition: background-color 0.5s, color 0.5s;
}
.nav-pills .nav-item a:hover:not(.active){
	background-color:#DCDCDC;
	color: white;
}

.boxes{
	background:#fff;
	border:2px solid #993F6C;
	box-sizing: border-box;
	box-shadow: 1px 1px 5px grey;
	color:#993F6C;
	padding: 0.5rem 0.5rem 0.5rem 0.9rem;
	font-weight:bold;
}

/* Pagination */

#content .pagination{
	font-weight: bold;
}
#content .pagination a{
	color:#993F6C;
}

/* Product carousel */
#productionMain .carousel-inner{
	box-shadow: 1px 1px 5px grey;
	border-radius: 5px;
}

#productionMain .col-sm-6 .box h3 a{
	color:pink;
	text-decoration: none;
	border-bottom: 1px solid pink;
}

}
/*Product details*/
.col-form-label{
	font-size:1rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
}
.thumb{
	margin-right:2rem;
}
.headline{
	height: 23.45rem;
}
.headline h3{
	margin-top: 8rem;
}

/* Cart page styles */
.table th, .table td{
	line-height: 3rem;
}
#cart .table tbody tr td input{
	width:50px;
	text-align: right;
}
#cart .table tbody tr td {
	vertical-align:middle;
}
#cart .table tfoot{
	font-size: 1.3rem;
}
.box .box-footer{
	background-color: #f7f7f7;
	width: inherit;
	padding: 2rem;
	border-top: solid 1px #eeeeee;
}

.box .box-footer:before,
.box .box-footer:after{
content:"";
display: table;
}
.box .box-footer:after{
	clear: both;
}
.box .box-header{
	padding:1rem;
	border-bottom: 1px solid pink;
	margin-bottom: 0.8rem;
}

/* Footer Style */

#footer{
	background-color: #BEBEBE;
	padding: 1.2rem 0;
	margin-top: 3rem;
}

#footer ul{
	padding-left: 0;
	list-style: none;
}
#footer ul a{
	color:#E55EA2;
	padding: 1.2rem 0;
}
#footer .social{
	text-align: left;
}
#footer .social a{
	margin: 0 0.8rem 0 0 ;
	color:#555555;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	line-height: 2rem;
	font-size: 1rem;
	text-align: center;
	transition: all 0.2s ease-out;
	vertical-align: bottom;
	background-color: pink;
	text-decoration: none;
}

#copyright{
	background-color: #333;
	color:#ccc;
	padding:1rem 0;
	font-size: 0.9rem;
}

#copyright p{
	margin:0;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23993F6C' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23993F6C' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

/** Filter Styles **/
.scroll-menu{
	height: 16rem;
	overflow-y: scroll;
}
.checkbox input[type="checkbox"],
.checkbox span {
	cursor:pointer;
}

#loading{
 text-align:center; 
 background: url('../loader.gif') no-repeat center; 
 height: 10rem;
}

/** Label Styles **/
.label{
	text-decoration: none;
	position: absolute;
	top: 0;
	padding-left: 3rem;
	z-index: 20;
	transform: rotate(-20deg);
}
.label .label-background{
	position: absolute;
	top: 0;
	right: 0;
}
.label .thelabel{
	position: relative;
	width: 7rem;
	padding: 0.5rem 3.5rem 0.5rem 1rem;
	margin:-1rem 3.5rem 0.6rem -4rem;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	background-color: #337ab7;
}

/* Tabs styles */

.box ul li a{
	color:pink !important;
	font-weight: bold;
	font-family: verdana;
	border:0 !important;
	
}
.box ul li a.active{
	color:black !important;
	border-bottom: 1px solid black!important;
}

.error{
	font-weight: bold;
}

/* Services Style */
.services .col-md-4{
	width: 29%;
}
@media(max-width: 1000px){
	.services .col-md-4{
	width: 50%;
}
}
@media(max-width: 800px){
	.services .col-md-4{
	width: 90%;
	margin-left: 5%;
}
}